inputs/*
logs/*
outputs/*
weights/*
__pycache__/
.ipynb_checkpoints/
*.pyc
*.iws
**/.idea/workspace.xml
**/.idea/tasks.xml
**/.idea/misc.xml
**/.idea/MoNuSeg.iml

# exception to the rule

